{% extends 'base.html' %}  {% load static %} 

{% block content %}
<div style="height:500px; background-color:#ff9298;">

    <div class="col-md-6 img-responsive">
    
         <h1 style="color:#1d0140;font-family: 'Montserrat', sans-serif; font-size:xx-large;">The Python Warrior</h1>
         <br>
          <p style="margin-left:20px; font-size:x-large; color:black; font-family: 'Montserrat', sans-serif;">Full Stack Python Software Developer building applications in Python, JavaScript and React</p>
    
  </div>
     <div class="col-md-6 img-responsive">
        <img src="/static/img/team-photo-1.jpeg" style="height:500px; width:100%;">
     </div>


</div>

<div class="mobile-break-section" style="background-color:#1d0140;">
<br><br><br>
<h2 class="text-center" style="margin-top:50px; font-family: 'Montserrat', sans-serif; color:#ff9298;">Service I provide</h2>
<p class="text-center" style="margin-top:50px; font-family:22px; color:white;">

 I build software application that are built using a programming language called Python.
<br><br>
 I implement great User Experience and User Interface for Python apps to increase online sales.
<br><br>
 Finally, I provide valuable insights on how to prioritise innovation to get ahead of your competitors online using Python.

</p>
<br><br><br><br>
</div>


<div style="height:500px; background-color:#ff9298;">

<h2 style="margin-left:5%; font-size:xx-large; color:#1d0140;">Portfolio</h2>
<h2 style="margin-left:5%; font-size:large; color:black;">Python and JavaScript Ecommerce App</h2>
<br><br>


     <div >
        <a href="https://zaragreta.herokuapp.com/#/"><img src="/static/img/zaragreta-portfolio.PNG" style="height:500px; width:100%;"></a>
     </div>
      </div>
{% endblock %}