{% extends 'base.html' %}  {% load static %} 

{% block content %}
<div style="height:600px;background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(1,111,167,1) 15%, rgba(1,32,142,1) 37%, rgba(2,0,36,1) 61%, rgba(2,0,36,1) 83%, rgba(1,0,14,1) 100%);">
<br><br>
<div class="col-md-6 img-responsive" >

       <img src="/static/img/spartan.png" style="height:400px; width:100%; ">
     </div>
     
    <div class="col-md-6 img-responsive" style="height:600px;">
    <h1 style=" font-size:45px; color:white; font-family: 'Montserrat', sans-serif;">The Python Warrior</h1>
    

          <p style="margin-top:20px; font-size:40px; color:#ff9298; font-family: 'Montserrat', sans-serif;">Full Stack Python Software Developer.</p>
   <br> <p style="font-size:30px; color:#e9b0b3; font-family: 'Montserrat', sans-serif;">Specializing in Python, JavaScript and React.</p>
  </div>
     


</div>
<br><br>
<div class="mobile-break-section" style="background-color:#020024;">
<br><br><br>
<h2 class="text-center" style="margin-top:50px; font-family: 'Montserrat', sans-serif; color:#ff9298;">Service I provide</h2>
<p class="text-center" style="margin-top:50px; font-size:16px; color:white; font-family: 'Montserrat', sans-serif;">

 I build software application that are built using a programming language called Python.
<br><br>
 I implement great User Experience and User Interface for Python apps to increase online sales.
<br><br>
 Finally, I provide valuable insights on how to prioritise innovation to get ahead of your competitors online using Python.

</p>
<br><br><br><br>
</div>
<br><br><br>

<h2 style="color:#ff9298;font-family: 'Montserrat', sans-serif; text-align:center; font-size:35px;">Portfolio</h2>
<p style="color:white;font-family: 'Montserrat', sans-serif;text-align:center; font-size:25px;">UX & UI Designer for Mylestone Interiors. </p>

<div >
  <div style="display: flex;vertical-align: middle;
  justify-content: center;
  align-items: center;">
    <a href="https://mylestoneinteriors.ie/"><img src="/static/img/mys-logo-10.PNG"  style="height:400px; width:100%;"></a>
  </div>
  <br><br><br>
  <p style="color:white;font-family: 'Montserrat', sans-serif;text-align:center; font-size:25px;"> I built ZaraGreta website from scratch using Python/Django,<br> with JavaScript/React along with Amazon AWS.</p>
<br>
  <div style="display: flex;vertical-align: middle;
  justify-content: center;
  align-items: center;">
    <a href="https://zaragreta.herokuapp.com/"><img src="/static/img/zaragreta-portfolio.PNG"  style="height:400px; width:100%;"></a>
  </div>
  

</div>
<br><br><br><br>
<h3 style="display: flex;vertical-align: middle;
  justify-content: center;
  align-items: center; color:white;font-family: 'Montserrat', sans-serif;text-align:center;">From Art to a professional Coding</h3><br><br>
<div class="row" style="display: flex;vertical-align: middle;
  justify-content: center;
  align-items: center;">
  
  <div class="col-md-4  col-sm-8 img-responsive">
    <img src="/static/img/conor.jpg"   style=" height:370px; padding:20px; ">
  </div>
  <div class="col-md-4 col-sm-8 img-responsive">
    <img src="/static/img/liam.jpg"   style=" height:370px;padding:20px;">
  </div>
  <div class="col-md-4 col-sm-8 img-responsive">
    <img src="/static/img/egypt.jpg"   style=" height:370px;padding:20px;">
  </div>
</div>
<br><br><br>

<div>

<p style="display: flex;vertical-align: middle;
  justify-content: center;
  align-items: center;font-size:19px; color:white;font-family: 'Montserrat', sans-serif;text-align:center; padding:20px;">What seperates me from other software developers is that i will be using Concept Art which is a very powerful and creative photoshop artwork.<br><br> This has the effect of enhancing the website application using stunning design and photoshop effect to make the user stay on the website longer and increasing the chances of our conversion rate.</p>
</div>
{% endblock %}