{% extends 'base.html' %}  {% load static %} 

{% block content %}
<div class="row intro" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
  
  <div class="col-sm-6">
  <h1 style="margin-top:35px;margin-left:3%;color:#00d4ff; font-family: 'Reggae One', cursive;">Software Development <br>(Java, Python and JavaScript)</h1>
  <p style="margin-left:3%; color:white; font-family: 'Reggae One', cursive;">Anthony Keogh has been navigating the software development jungle for the last 3 years and has recently taking a keen interest into the newly discovered forest of mobile development and how it can have a huge impact for online businesses.<br>
  <br>
  
  </p>
  <br>
  <a href="https://zara-grace.herokuapp.com/">
  <button type="button" class="btn btn-warning" style="color:black;margin-left:3%; width:180px;height:55px; font-weight:bold;">Ecommerce app</button>
  </a>
  <a href="http://www.theadvicebox.com/">
  <button type="button" class="btn btn-warning" style="color:black;margin-left:3%; width:180px;height:55px; font-weight:bold;">Messaging app</button>
  </a>
  
  
  <div class="caption">
  
          <p style="color:goldenrod;margin-left:12%;margin-top:5px; font-weight:bold; font-size:20px;"></p>
        </div>
  
  </div>
  <div class="col-sm-6 space-margin">
    <img src="static/img/com-image-1.png" style="width:100%;height:550px; ">
    </div>
     
 
 </div> 
  
  
  
  


<section style="">
<div class="row second-section" style="background-color:white;" >
  
  <div class="col-sm-6">

  <h2 style="font-family: 'Montserrat', sans-serif; color:blue;margin-left:3%;font-family: 'Reggae One', cursive;">Data Science</h2>
  
  
  <p style="color:black;margin-left:3%;font-family: 'Reggae One', cursive;">Anthony is experience with data architecture, data modeling, schema design and software development. </p>
     

    <div>
      <a href="{% url 'aboutus' %}">
      </a>
    </div>
<br>
    <h2 style="font-family: 'Montserrat', sans-serif; color:blue;margin-left:3%;font-family: 'Reggae One', cursive;">Software Development</h2>
  
  
  <p style="color:black;margin-left:3%;font-family: 'Reggae One', cursive;">From front-end development to back-end development such as Python, JavaScript, Java, React, Spring, SQL, MongoDB, CSS, HTML, and Bootstrap. He has built stunning software applications in Python using frameworks such as Django and Flask. </p>
     
<br><br><br>
    <div>
      <a href="{% url 'aboutus' %}">
      </a>
    </div>
    
</div>
<div class="col-sm-6 space-margin" >
   <img src="static/img/laptop.jpg" style="width:100%; height:500px;">
    
  </div>
</section>





<div class="container-fluid mobile-container" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);"><br><br><br>
  <h2 style="color:white;font-family: 'Reggae One', cursive;" class="font-clients">Some of my past clients</h2>
  
  <div class="row clients-row">
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/mylelogo.PNG"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/FormallyYoursKillarney.png"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/scarlett.PNG"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
  </div>
  <br><br>
</div>


<div class="container-fluid" style="background-color:black;">
<br><br>
  <h2 style="color:white; font-family: 'Reggae One', cursive;">My Software Development Projects</h2>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
         <a href="http://www.theadvicebox.com/">
          <img src="static/img/screenshot-mobile-advicebox.PNG"  style="width:100%; height:450px;">
          
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zara-grace.herokuapp.com/">
          <img src="static/img/zara-moble-screenshot-1.png"  style="width:100%; height:450px;">
          
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://github.com/anthony-keogh/Azure-datascience-project-1">
          <img src="static/img/microsoft-azure.png"  style="width:100%; height:450px;">
          
        </a>
      </div>
    </div>
  </div>
  <br><br>
</div>
<br><br>
<div style="height:500px; justify-content: center; display : flex;
  align-items : center;">
  
<img src="static/img/rolling.jpg" style="width:370px;height:400px; ">
<br><br>
</div>
<div style="height:0px;justify-content: center; display : flex;
  align-items : center;">
<p style="color:#00d4ff; margin-top:0px; font-size:20px;font-family: 'Reggae One', cursive;">Anthony Keogh</p>
</div>
<br>
<div style="height:0px;justify-content: center; display : flex;
  align-items : center; margin-top: 50px;
    margin-bottom: 50px;">
 <p style="color:white; font-size:18px; margin-top: 150px;font-family: 'Reggae One', cursive;"><br>Anthony has been relentless in improving his software skills to a high level. His pursuit of working in big tech projects and making an impact is what drives him to learn this difficult skills to the best of his ability.</p>

</div>
<div class="container-fluid mobile-container" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);"><br><br><br>
  <h2 style="color:white;font-family: 'Reggae One', cursive;" class="font-clients">Education</h2>
  
  <div class="row clients-row">
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/new-java.png"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/ibm-logo.png"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="static/img/digital-mark-logo.png"  style="width:100%; height:350px;">
          
        
      </div>
    </div>
  </div>
  <br><br>
</div>
{% endblock %}