{% extends 'base.html' %}  {% load static %} 
{% block content %}
<div class="card" >
    <h2 style="color:white; margin-left:5%; font-family: 'Henny Penny', cursive;">Fantasy Novels</h2>
    {% for book in book_list %}
       <a href="{% url 'book-detail-with-pk' pk=book.pk %}"><img class="card-img-top" src="/static/img/forest.jpg" style="width:370px; height:400px;"></a>
  
    {% endfor %}
</div>
<div style="height:100px;"></div>
<div class="card" >
    <h2 style="color:white;margin-left:5%; font-family: 'Henny Penny', cursive;">Witches and Dragons Novels</h2>
  
       <img class="card-img-top" src="/static/img/witch-1.png" style="width:370px; height:400px;">
</div>
<div style="height:100px;"></div>
<div class="card" >
    <h2 style="color:white;margin-left:5%; font-family: 'Henny Penny', cursive;">Hero's of the Night Novels</h2>
  
       <img class="card-img-top" src="/static/img/samurai.png" style="width:370px; height:400px;">
</div>
{% endblock %}