{% extends 'base.html' %}  {% load static %} 
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="/static/img/forest.jpeg" alt="Lights" style="width:100%">
          <div class="caption">
            <p style="font-weight:bold; font-family: 'Henny Penny', cursive; font-size:20px; color:blue;">{{ book.name }}</p>
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,129,255,1) 100%);">
        
          
          <div class="caption">
            <p style="color:white; font-weight:bold;"><span style="color:white; font-weight:bold; font-size:30px;">E-Book Information</span>
               <br><br>Title: {{ book.name }}
               <br><br><br><span style="color:white; font-weight:bold; font-size:20px;">E-book Price: ${{ book.price }}</span>
               <br>
               </p>
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="background: rgb(36,0,1);
background: linear-gradient(90deg, rgba(36,0,1,1) 0%, rgba(121,9,13,1) 35%, rgba(255,0,14,1) 100%);">
        
          <div class="caption">
            <p style="color:white;"><span style="color:white; font-weight:bold; font-size:30px;">E-Book Summary</span>
            <br><br>
            {{ book.description }}
            
            <br><br>
            <span style="color:white; font-weight:bold; font-size:30px;">Author</span>
            <br>
            {{ book.author }}
             <br><br>
            <span style="color:white; font-weight:bold; font-size:30px;">About Author</span>
            <br>
            {{ book.about_author }}
            </p>
          </div>
        
      </div>
    </div>
  </div>
</div>



{% endblock %}