{% extends 'base.html' %}  {% load static %} 
{% block content %}
<div class="container " style="
    justify-content: center;
    align-items: center;">
    <br>
<p class="login-paragragh"> Please signup and login before purchasing a product or advertising on our platform</p>
<br>
<p class="login-paragragh"> Thank you for your consideration </p>
</div>
<div class="container " style="height:600px;display: flex;
    justify-content: center;
    align-items: center;" >

<div class="col-6" style="margin-top:-250px;">

<h1 class="login-h1" style="color:red; padding:10px; border-bottom: 1px solid black;">Login</h1>
<br><br>

<form method="post"  class="the_login_form" >
  {% csrf_token %}
  {{ user_form }}
  <br>
  <button type="submit" style="background-color:red;width:70px;height:40px; color:white;">Login</button>
</form>
</div>
</div>


{% endblock %}