{% extends 'base.html' %}  {% load static %} 
{% block content %}
<p style="color:white;">Anthony Keogh founded Silicon Irish in 2017 which was a digital marketing service for businesses in Kerry.<br> From there on Anthony expanded his service and skills to software development and graphic design as there was increase demand for skills and experience in this area.
<br>
Anthony has worked with some fantastic businesses in the Killarney area which grew his experience in the area of ecommerce website apps.<br> Businesses that sell products need a ecommerce website in order to survive and it couldnt be more true in this ever changing world like the Covid-19 pandemic we are in.</p>
{% endblock %}