* {
    box-sizing: border-box;
    
  }
  body{
    overflow-x: hidden!important;
  }
  @media only screen and (max-width: 400px){

    img{
        width: 100%!important;
    }

    div.mobile-break-section{
        margin-top: 400px;
    }
    h1{
        font-size: xx-large!important;
    }
    h2{
        font-size: medium!important;
    }

    
}